.demokey {
    width: 50px;
    height: 40px;
    border: 1px solid black;
    text-align: left;
    background-color: blue;
}
.repukey {
    width: 50px;
    height: 40px;
    border: 1px solid black;
    text-align: left;
    background-color: red;
}

#graph div {
  text-align: left;
  padding: 4px;
  margin: 2px;
  border: 1px;
  color: black;
  height: 26px;
}