body {
    text-align: center;
}
.demokey {
    width: 50px;
    height: 30px;
    border: 1px solid black;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: blue;
    display: inline-block;
}
.repukey {
    width: 50px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    margin-left: 5px;
    vertical-align: middle;
    background-color: red;
    display: inline-block;
}

button {
    font-size: 20px;
    border-radius: 2px;
    transition-duration:0.1s;
    margin: 8px;
}

button:hover {
    background-color: gray;
    color:white;
}

#graph div {
  text-align: left;
  padding: 4px;
  margin:3px;
  margin-left: 60px;
  border: 1px;
  color: black;
  height: 50px;
  border: 1px solid black;
//  display:inline-block;
}

img {
    float:left;
}

text{
    float:right
}